<div class="jumbotron" style="margin-bottom: 0px;">
  <h1>API Project made by Brasfalean Hector</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" [routerLink]="['/home']">API Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseTarget"
    aria-controls="collapseTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapseTarget">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['/all']" class="nav-link">Get characters</a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['/specific']" class="nav-link">Get character by ID</a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['/footballers']" class="nav-link">Get footballers</a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['/footballerbyid']" class="nav-link">Get footballer by ID</a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['/settings']" class="nav-link">Settings footballer API</a>
      </li>
    </ul>
    <button class="btn btn-primary" *ngIf="!AuthServ.isLoggedIn" (click)="LogIn()">Log in</button>
    <button class="btn btn-primary" *ngIf="AuthServ.isLoggedIn" (click)="LogOut()" [routerLink]="['/home']">Log out</button>
  </div>
</nav>
