<div>
      Search a specific character with the help of its ID:
      <input type ="number" [(ngModel)] = "Id" (ngModelChange)="Save()">
      &nbsp;&nbsp;
      <button *ngIf="Id>0" class="btn btn-primary" (click)="GetACharacter()">Search Character</button>
<hr>
 

    <div *ngIf="Character" >
      <ol>
        <li>
          ID: {{Character.url | slice : 45}} 
          <br> 
          Gender: {{Character.gender}} 
          <div *ngIf="Character.name != ''">
              Name: {{Character.name}}
          </div>
          <div *ngIf="Character.tvSeries != ''">
            TV Series : 
            <ol>
              <li *ngFor="let tvserie of Character.tvSeries">{{tvserie}}</li>
            </ol>
          </div>
        </li>
      </ol>
    </div>
</div>

