select {
  text-align-last: center;
}

input {
  text-align: center;
}

.listTvSeries {
  text-align: center;
  
}

.btn-primary{
    margin-bottom: 10px;
}

.paging {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns:
    33% 33% 33%;
  padding-bottom: 50px;
}

ol {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

.grid-container {
  width: 80%;
  display: grid;
  text-align: center;
  margin:auto;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 770px){
    .grid-container{
        grid-template-columns: 100%;
    }
}