
Filter on gender :  
<select [(ngModel)]="Gender">
  <option value="female">Female</option>
  <option value="male">Male</option>
</select>
<br>
If left untouched it will return both.
<br>
<br>
Page Size : <input type ="number" [(ngModel)] = "PageSize">
<br>
Page Number : <input type ="number" [(ngModel)] = "PageNr">
<br>
<br>
<button (click)="GetAllCharacters()">Get All Characters </button>

<div *ngIf="Characters">
  <ul>
    <li *ngFor="let Character of Characters">
      ID: {{Character.url | slice : 45}} 
      <br> 
      Gender: {{Character.gender}} 
      <div *ngIf="Character.name != ''">
     
          Name: {{Character.name}}
      </div>
      <div *ngIf="Character.tvSeries != ''">
        TV Series : 
        <ol>
          <li *ngFor="let tvserie of Character.tvSeries">{{tvserie}}</li>
        </ol>
      </div>
    </li>
  </ul>
  <button (click)="GoToNextPage()" >Next page</button><br>
  <button (click)="GoToPrevPage()" >Prev page</button>
</div>

