<div class="grid-container">
  <div class="item1">
      Filter on gender : <br> 
      <select [(ngModel)]="Gender">
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="">Both</option>
      </select>
      
      <br>
      <br>
      Page Size : <br> <input type ="number" [(ngModel)] = "PageSize">
      <br><br>
      Page Number : <br> <input type ="number" [(ngModel)] = "PageNr">
      <br>
      <br>
      <button (click)="GetAllCharacters()">Get Characters </button>
      
  </div>

<div *ngIf="Characters" class="item2">
  <ul>
    <li *ngFor="let Character of Characters">
      ===================================<br>
      ID: {{Character.url | slice : 45}} 
      <br> 
      Gender: {{Character.gender}} 
      <div *ngIf="Character.name != ''">
          Name: {{Character.name}}
      </div>
      <div *ngIf="Character.tvSeries != ''">
        TV Series : <br>
        <ol class="list">
          <li *ngFor="let tvserie of Character.tvSeries">{{tvserie}}</li>
        </ol>
      </div>
      
    </li>
  </ul>
  <button (click)="GoToPrevPage()" >Prev page</button>&nbsp;&nbsp;
  <button (click)="GoToNextPage()" >Next page</button> 
 

</div>


</div>
